@use 'styles/mixins/flexbox';

.manageAdsWrapper {
  width: 100%;
  height: 100%;
  padding: 30px;
  border: 1px solid black;
  line-break: auto;
}

.manageAdsBottom {
  @include flexbox.flexbox(between, center);
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}
