@use '/src/styles/constants/colors';
@use '/src/styles/constants/levels';

.titleWithDate {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.datePicker {
  position: relative;

  .selectButton {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color: colors.$GRAY800;

    svg {
      margin-left: 10px;
    }
  }

  .root {
    margin: 0;

    .months {
      position: absolute;
      top: 30px;
      right: 0;
      z-index: levels.$DROPDOWN_BOTTOM;
      padding: 16px;
      margin-top: 8px;
      user-select: none;
      background-color: colors.$WHITE;
      border-radius: 20px;
      box-shadow: 0 2px 8px 0 colors.$BOX_SHADOW;
    }

    .selected,
    .start {
      color: colors.$WHITE;
      background-color: colors.$PRIMARY;
      border: none;
      border-radius: 5px;
      outline: none;
    }

    .button {
      margin: 2px;
      cursor: pointer;

      &:focus,
      &:active {
        border: none;
      }

      &:not(.selected):not(.start):hover {
        background-color: colors.$SECONDARY;
      }

      &[aria-disabled='true'] {
        color: colors.$GRAY100;
        pointer-events: none;
      }
    }
  }
}
