@use 'styles/constants/colors';
@use 'styles/mixins/flexbox';

.adsHeaderWrapper {
  @include flexbox.flexbox(between, center);
  padding-bottom: 30px;
  overflow-x: scroll;

  button:last-child {
    color: colors.$WHITE;
    background-color: colors.$PRIMARY;
    border: none;
  }
}
