// Grayscale
$WHITE: #ffffff;
$BLACK: #000000;

// LEVER
$GRAY50: #edeff1;
$GRAY100: #d1d8dc;
$GRAY300: #94a2ad;
$GRAY800: #3a474e;

$PRIMARY: #586cf5;
$SECONDARY: #e5f4fd;
$SECONDARY_RED: #ea3a4b;

$GRAPH_BLUE: #4fadf7;
$GRAPH_GREEN: #85da47;
$GRAPH_PURPLE: #ac8af8;

$BACKGROUND: #f6f7f8;
$BIG_TITLE: #1f315b;
$TASKS_TITLE: #8f99bf;
$TASK_ITEM_TITLE: #4f566f;
