@use 'styles/constants/colors';
@use 'styles/mixins/flexbox';

.adsContainerWrapper {
  @include flexbox.flexbox(center, start);
  flex-direction: column;
  width: 300px;
  min-width: 300px;
  padding: 30px 20px 20px;
  margin-right: 30px;
  margin-bottom: 30px;
  user-select: none;
  border: 1px solid colors.$GRAY100;
  border-radius: 10px;
  transition: 0.1s ease-in;

  h2 {
    max-width: 100%;
    overflow-x: hidden;
    font-size: 15px;
    font-weight: 700;
    color: colors.$GRAY800;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  ul {
    width: 100%;
    margin: 20px 0;
  }

  button {
    width: 92px;
    height: 40px;
    font-weight: 500;
    color: colors.$GRAY800;
    border: 1px solid colors.$GRAY100;
    border-radius: 10px;
  }

  &:hover {
    border-color: colors.$PRIMARY;
  }
}
