@use '/src/styles/constants/colors';

.tableGradient {
  position: relative;

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 10%;
    height: 100%;
    content: '';
    background: linear-gradient(to right, rgba(colors.$WHITE, 0%), rgba(colors.$WHITE, 100%));
  }
}

.tableWrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  margin-top: 70px;

  &::-webkit-scrollbar {
    display: block;
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: colors.$GRAY100;
    border-radius: 8px;
  }
}

.table {
  width: 1400px;
  height: 100%;

  .tableHeader {
    padding: 5px;
    border-top: 1px solid colors.$TABLE_LINE;
  }

  .totalRowWrapper {
    color: colors.$TABLE_SUM;
  }

  .tablRowWrapper {
    display: flex;
    flex-direction: row;
    border-top: 1px solid colors.$TABLE_LINE;

    .tableCol {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 190px;
      padding: 5px;
      text-align: center;
    }
  }

  th {
    padding: 10px 0;
  }
}

.tableTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 120px;
  padding: 5px;

  &::after {
    content: '';
  }

  .tableLogo {
    width: 30px;
    margin-right: 10px;

    svg {
      width: 30px;
    }
  }

  .tableTitleText {
    width: 100px;
  }
}
