.tableContainer {
  width: 100%;
  height: 100%;
  overflow-x: scroll;

  .tableHeader {
    padding: 5px;
    border-top: 1px solid;
    border-bottom: 1px solid;
  }

  .totalRowWrapper {
    color: #abb5fa;
  }

  .tablRowWrapper {
    display: flex;
    flex-direction: row;

    th,
    td {
      flex-grow: 1;
    }
  }

  .tableTitle {
    &::after {
      content: '';
    }
  }

  th {
    padding: 10px 0;
  }
}
